@media (max-width: 700) {
  .entry {
    width: 90%;
    margin-left: 20%;
  }
  .entry h1 {
    font-size: 18px;
  }
}
.entry h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.flbottom {
  padding: 10px;
  margin-left: 40px;
}
.reach {
  margin-top: 3%;
}
.reach * {
  display: inline;
  margin-right: 10px;
  font-size: large;
}
.reach a {
  text-decoration: underline;
}
.contactsection {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
}

.question {
  font-size: 25px;
  max-width: 90%;
}

.contactsection button {
  margin-top: 2rem;
  padding: 20px 30px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  font-size: 16px;
  box-shadow: 5px 5px 5px #5e5e5e;
  cursor: pointer;
}
.contactsection button:hover {
  background-color: #e2e0ca85;
  color: #000;
  transition: all 1s ease;
}

@media (max-width: 800px) {
  #contact_form {
    width: 80vw;
  }
}
.reach a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

