.grid .card img {
  box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.488);
}

.inspire button {
  padding: 10px 20px;
  background-color: rgb(163, 92, 92);
  color: white;
  border-radius: 5px;
}

.inspire img {
  box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.488);
}
