.approachContainer {
  padding: 60px 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.approachContainer .left h1 {
  font-size: 40px;
  margin-bottom: 3rem;
}
.three {
  margin: 10px 0;
  display: flex;
}
.part {
  padding: 50px;
  background-color: rgba(247, 247, 247, 0.356);
  border-radius: 4px;
  border: rgba(0, 0, 0, 0.34);
  border-style: none none none solid;
}
.part h5 {
  font-size: 15px;
  font-weight: bold;
}
.part p {
  padding-top: 8px;
}
.approachContainer .img {
  display: flex;
}
.approachContainer .img img {
  width: 400px;
  height: 420px;
  border-radius: 5px;
  box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.488);
}

/*     FEATURED      */
.featured {
  padding: 20px;
}
.featured h2 {
  font-size: 30px;
}
.featured .grid {
  padding: 30px 0px;
}
.grid .card .img {
  background-color: rgba(211, 211, 211, 0.301);
  padding: 70px 60px;
}
.grid .card img {
  border-radius: 5px;
  box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.488);
}
.grid .card .desc {
  padding: 10px 0px;
  text-align: center;
}
.grid .card .desc h5 {
  font-size: 16px;
  font-weight: bold;
}
.inspire {
  padding: 40px;
  margin-bottom: 50px;
  align-items: center;
}
.inspire .text h2 {
  font-size: 40px;
  max-width: 400px;
  margin-bottom: 10px;
}
.inspire .text p {
  margin-bottom: 20px;
}
.inspire button {
  padding: 10px 20px;
  background-color: rgb(163, 92, 92);
  color: white;
  border-radius: 5px;
}
.inspire .img {
  background-color: rgba(211, 211, 211, 0.516);
  padding: 40px;
  border-radius: 4px;
}
.inspire img {
  width: 500px;
  border-radius: 5px;
  box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.488);
}
