* {
  padding: 0;
  margin: 0;
}
.intro p {
  max-width: 55ch;
  margin: auto auto;
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
  .photo-gallery {
    flex-direction: row;
    gap: 10px;
  }

  .headcontainer .title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .photo-gallery {
    flex-direction: row;
  }
}

@media screen and (max-width: 550px) {
  .headcontainer .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .headcontainer {
    width: 100%;
  }
}
